# Copie este arquivo para .env e preencha com suas credenciais
# O arquivo .env nunca deve ser enviado ao GitHub

LIFERAY_USUARIO=seu_usuario_aqui
LIFERAY_SENHA=sua_senha_aqui

# IPs dos servidores consultados pelo Analisador de Logs
ELASTIC_1_IP=0.0.0.0
ELASTIC_2_IP=0.0.0.0
ELASTIC_3_IP=0.0.0.0
LIFERAY_1_IP=0.0.0.0
LIFERAY_2_IP=0.0.0.0
